<div class="container-fluid">
  <h2>View By:</h2>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-3">
      <a href="/stores">
      <img src="/../img/shoe_store.jpg" alt="shoe store picture" class="img-responsive">
      <h3>Stores</h3></a>
    </div>
    <div class="col-sm-offset-2 col-sm-3">
      <a href="/brands"><img src="/../img/shoe_brand.jpeg" alt="converse shoes picture" class="img-responsive">
      <h3>Brands</h3></a>
    </div>
  </div>
</div>
